// Material Theming

// Define theme variables before importing any MDC Web component styles
// $mdc-theme-primary: midnightblue;

// Import the styles for each MDC Web component
@import "@material/typography/mdc-typography";
@import "@material/button/mdc-button";

// This sets all <h1>,...,<h6> elements with Material headline1,...,headline6 typography styles
// Check out the MDC Web documentation for how to use MDC Typography Sass mixins:
// https://github.com/material-components/material-components-web/tree/master/packages/mdc-typography
h1 {
  @include mdc-typography(headline1);
}

h2 {
  @include mdc-typography(headline2); 
}

h3 {
  @include mdc-typography(headline3); 
}

h4 {
  @include mdc-typography(headline4); 
}

h5 {
  @include mdc-typography(headline5); 
}

h6 {
  @include mdc-typography(headline6); 
}

// This sets all <p> elements with Material body1 typography styles
p {
  @include mdc-typography(body1);
}
