// GM

$white: #fff;

$blue50:   #E8F0FE;
$blue100:  #D2E3FC;
$blue500:  #4285F4;
$blue600:  #1A73E8;
$blue700:  #1967D2;
$blue800:  #185ABC;
$blue900:  #174EA6;

$red600:   #D93025;
$red700:   #C5221F;

$grey50:   #F8F9FA;
$grey100:  #F1F3F4;
$grey200:  #E8EAED;
$grey300:  #DADCE0;
$grey400:  #BDC1C6;
$grey500:  #9AA0A6;
$grey600:  #80868B;
$grey700:  #5F6368;
$grey800:  #3C4043;
$grey900:  #202124;
