@import './functions';
@import './gm_variables';

$gmWhiteOnBlue: newColorSet(
  $container: $blue,
  $high: $white,
  $medium: $lightBlue,
  $low: $midBlue,
  $accent: $white,
  $error: $error
);

$gmBlueOnWhite: newColorSet($white, $blue, $midBlue, $lightBlue, $blue, $error);
$gmGreyOnWhite: newColorSet($white, $darkGrey, $grey, $lightGrey, $blue, $error);
