@import './functions';
@import './gm_variables';

$gmWhiteOnBlue: newColorSet(
  $container: $blue600,
  $high: $white,
  $medium: $blue50,
  $low: $blue100,
  $accent: $white,
  $error: $red700
);

$gmBlueOnWhite: newColorSet(
  $container: $white,
  $high: $blue600,
  $medium: $blue100,
  $low: $blue50,
  $accent: $blue600,
  $error: $red700
);

$gmGreyOnWhite: newColorSet(
  $container: $white,
  $high: $grey800,
  $medium: $grey700,
  $low: $grey300,
  $accent: $blue600,
  $error: $red600,
);

$gmGreyOnGrey: newColorSet(
  $container: $grey50,
  $high: $grey900,
  $medium: $grey700,
  $low: $grey300,
  $accent: $blue600,
  $error: $red700
);

$gmBlueOnBlue: newColorSet(
  $container: $blue50,
  $high: $blue700,
  $medium: $blue500,
  $low: $blue300,
  $accent: $blue700,
  $error: $red700
);
