@import './functions';
@import './gm_variables';

$gmWhiteOnBlue: newColorSet(
  $container: $blue,
  $high: $white,
  $medium: $lightBlue,
  $low: $midBlue,
  $accent: $white,
  $error: $error
);

$gmBlueOnWhite: newColorSet(
  $container: $white,
  $high: $blue,
  $medium: $midBlue,
  $low: $lightBlue,
  $accent: $blue,
  $error: $error
);

$gmGreyOnWhite: newColorSet(
  $contaienr: $white,
  $high: $darkGrey,
  $medium: $grey,
  $low: $lightGrey,
  $accent: $blue,
  $error: $error
);
