@import './functions';
@import './gm_variables';

$gmDarkThemeWhiteOnBlue: newColorSet(
  $container: $blue300,
  $high: $grey900,
  $medium: $grey500,
  $low: $grey200,
  $accent: $grey900,
  $error: $red200
);