// GM

$white: #fff;

$blue50: #E8F0FE;
$blue100: #D2E3FC; // Blue100
$blue600: #1A73E8; // Blue600
$blue700: #1967D2; // Blue700

$red700: #C5221F; // Red700

$grey800: #3C4043; // Grey800
$grey700: #5F6368; // Grey700
$grey300: #DADCE0; // Grey300
$veryLightGrey: #F8F9FA; // Grey50
