@import "../themes/gm/color_sets";
@import "../themes/m/color_sets";

.color-sets {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.color-set {
  display: flex;
  border: 1px solid #ddd;
  height: 200px;
  width: 400px;
  margin: 1rem;
  
  &__col {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
  
  &__cell {
    position: relative;
    flex: 1 0 auto;
    
    &::before,
    &::after {
      position: absolute;
      padding: 0.25rem;
      font-family: monospace;
    }
    
    &::before {
      bottom: 0;
      right: 0;
      color: white;
      background: #000;
      border-top-left-radius: 6px;
    }
    
    &:not(&--container)::after {
      content: attr(data-contrast-ratio);
      top: 0;
      left: 0;
      background: #000;
      border-bottom-right-radius: 6px;
    }

    &--ok::after {
      color: chartreuse;
    }

    &--warn::after {
      color: yellow;
    }

    &--fail::after {
      color: orangered;
    }
  }
}

.white-on-blue600 {
  @include colorSet($micro_gmWhiteOnBlue600);
}

.grey700-on-white-with-blue600 {
  @include colorSet($micro_gmGrey700OnWhiteWithBlue600);
}

.grey800-on-white-with-blue600 {
  @include colorSet($micro_gmGrey800OnWhite);
}

.grey700-on-white-with-red600 {
  @include colorSet($micro_gmGrey700OnWhiteWithRed600);
}

.grey900-on-grey50-with-blue600 {
  @include colorSet($micro_gmGrey900OnGrey50WithBlue600);
}

.grey900-on-grey50-with-red600 {
  @include colorSet($micro_gmGrey900OnGrey50WithRed600);
}

.gm-disabled {
  @include colorSet($micro_gmDisabledColorSet);
}

.blue700-on-blue50 {
  @include colorSet($micro_gmBlue700OnBlue50);
}

.red700-on-red50 {
  @include colorSet($micro_gmError);
}

// M
.black-on-white-with-purple {
  @include colorSet($micro_mBlackOnWhiteWithPurple);
}

.black-on-white-with-error {
  @include colorSet($micro_mBlackOnWhiteWithError);
}

.white-on-purple {
  @include colorSet($micro_mWhiteOnPurple);
}

.m-disabled {
  @include colorSet($micro_mDisabled);
}

.black-on-grey {
  @include colorSet($micro_mBlackOnGrey);
}

.black-on-super-light-grey-with-purple {
  @include colorSet($micro_mBlackOnSuperLightGreyWithPurple);
}

.black-on-super-light-grey-with-error {
  @include colorSet($micro_mBlackOnSuperLightGreyWithRed);
}
