@import './functions';
@import './variables';

$blackOnWhiteWithPrimary: newColorSet(
  $container: $white,
  $high: $black,
  $medium: $darkGrey,
  $low: $lightGrey,
  $accent: $purple,
  $error: $error
);

$whiteOnPrimary: newColorSet(
  $container: $purple,
  $high: $white,
  $medium: rgba($white, .6),
  $low: rgba($white, .38),
  $accent: $white,
  $error: $error
);

$blackOnGreyWithPrimary: newColorSet(
  $container: $superLightGrey,
  $high: $black,
  $medium: $darkGrey,
  $low: $lightGrey,
  $accent: #370,
  $error: $error
);

