// M

$white: #fff;

$purple: #6200ee;
$black: rgba(0, 0, 0, 0.87);
$darkGrey: rgba(0, 0, 0, 0.6);
$lightGrey: rgba(0, 0, 0, 0.38);

$darkGrey: #3C4043; // Grey800
$grey: #5F6368; // Grey700
$lightGrey: #DADCE0; // Grey300
