@import "colors/functions";
@import "colors/mixins";
@import "@material/textfield/mixins";
@import "@material/floating-label/mixins";

$filledTextFieldMapping: (
  ink: high,
  bottomLine: medium,
  helperText: medium,
  textLabel: medium,
  caret: accent,
  lineRipple: accent,
  activeTextLabel: accent,
  activeHelperText: accent,
);

@mixin filledTextField($colorSet, $colorMap: $filledTextFieldMapping) {
  @include mdc-text-field-fill-color(ColorSet_getContainer($colorSet));

  @include ifColorMapHasKey($colorMap, ink) {
    @include mdc-text-field-ink-color(getColor($colorSet, $colorMap, ink));
    @include mdc-states(getColor($colorSet, $colorMap, ink));
  }
  
  @include ifColorMapHasKey($colorMap, bottomLine) {
    @include mdc-text-field-bottom-line-color(getColor($colorSet, $colorMap, bottomLine));
  }
  
  @include ifColorMapHasKey($colorMap, helperText) {
    @include mdc-text-field-helper-text-color(getColor($colorSet, $colorMap, helperText));
  }
  
  @include ifColorMapHasKey($colorMap, textLabel) {
    @include mdc-text-field-label-color(getColor($colorSet, $colorMap, textLabel));
  }
  
  @include ifColorMapHasKey($colorMap, lineRipple) {
    @include mdc-text-field-line-ripple-color(getColor($colorSet, $colorMap, lineRipple));
  }
  
  @include ifColorMapHasKey($colorMap, caret) {
    @include mdc-text-field-caret-color(getColor($colorSet, $colorMap, caret));
  }
  
  &.mdc-text-field--focused {
    @include ifColorMapHasKey($colorMap, activeTextLabel) {
      @include mdc-text-field-label-color(getColor($colorSet, $colorMap, activeTextLabel));
    }
    
    .mdc-floating-label {
      @include ifColorMapHasKey($colorMap, activeHelperText) {
        @include mdc-floating-label-ink-color(getColor($colorSet, $colorMap, activeHelperText));
      }
    }
  }
}
