$inputChipMapping: (
  ink:            high,
  trailingIcon:   high,
  outline:        low,
);

$defaultChipMapping: (
  ink:            high,
  trailingIcon:   high,
  outline:        low,
);

$selectedChipMapping: (
  ink:            high,
  trailingIcon:   high,
  outline:        low,
);

$errorChipMapping: (
  ink:            high,
  trailingIcon:   high,
  outline:        low,
);
