@import "colors/functions";
@import "@material/button/mixins";

$filledButtonMapping: (
  ink: highEmphasis,
  icon: highEmphasis,
);

$outlinedButtonMapping: (
  ink: highEmphasis,
  icon: highEmphasis,
  outline: highEmphasis,
);

$elevatedButtonMapping: (
  ink: highEmphasis,
  icon: highEmphasis,
);

@mixin filledButton($colorSet, $colorMap: ()) {
  $map: map-merge($filledButtonMapping, $colorMap);
  @include mdc-button-container-fill-color(ColorSet_getContainer($colorSet));
  @include mdc-button-ink-color(getColor($colorSet, $map, ink));
  @include mdc-button-icon-color(getColor($colorSet, $map, icon));
}

@mixin elevatedButton($colorSet, $colorMap: ()) {
  $map: map-merge($elevatedButtonMapping, $colorMap);
  @include mdc-button-container-fill-color(ColorSet_getContainer($colorSet));
  @include mdc-button-ink-color(getColor($colorSet, $map, ink));
  @include mdc-button-icon-color(getColor($colorSet, $map, icon));
}

@mixin outlinedButton($colorSet, $colorMap: ()) {
  $map: map-merge($outlinedButtonMapping, $colorMap);
  @include mdc-button-container-fill-color(ColorSet_getContainer($colorSet));
  @include mdc-button-ink-color(getColor($colorSet, $map, ink));
  @include mdc-button-icon-color(getColor($colorSet, $map, icon));
  @include mdc-button-outline-color(getColor($colorSet, $map, outline));
}
